<div class="container">
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Author</th>
        <th (click)="sort('publishDate', booleanValue)">PublishDate</th>  
        <th (click)="sort('duration', booleanValue)">Duration</th>   
        <th>Image</th>        
      </tr>
      <ng-container *ngIf="courseDetails" >
      <tr *ngFor="let course of courseDetails" >     
        <td id="course-name">{{course.name }}</td>
        <td id="course-description">{{course.description}}</td>
        <td id="course-author">{{course.author}}</td>
        <td id="course-date">{{course.publishDate }}</td>
        <td id="course-duration">{{course.duration}}</td>
        <td>
          <img class="course-image" [src]="course.image" alt="Photo of a course">
        </td>
        <button id="btn-add" class="btn" (click)="addNewItem(course)" *ngIf="!course.saved">Add</button>
        <button id="btn-remove" class="btn" (click)="RemoveItem(course)" *ngIf="course.saved">Remove</button>
      </tr>       
    </ng-container> 
    </table>
  </div>